@media only screen and (max-width:767px) {


/* Hamburger Menu */

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	font-size: 10px;
	letter-spacing: 1.7px;
}


.menu {
	position: fixed;
	top: 0;
	right: 0;
	background-color: #262626;
	height: 50px;
	width: 50px;
	cursor: pointer;
	transition: 0.3s;
	z-index: 9999;
	position: -webkit-sticky;
}
.menu span {
	position: absolute;
	height: 3px;
	width: 25px;
	background-color: #fff;
   	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.3s;
}
.menu span:before {
	content: '';
	position: absolute;
	top: -8px;
	background-color: #fff;
	height: 3px;
	width: 25px;
	transition: 0.3s;
}
.menu span:after {
	content: '';
	position: absolute;
	top: 8px;
	background-color: #fff;
	height: 3px;
	width: 25px;
	transition: 0.3s;
}
.menu.active span { 
	background-color: transparent; 
	}
.menu.active span:before { 
	transform: rotate(45deg);top: 0; 
	}
.menu.active span:after {
 	transform: rotate(-45deg);
 	top: 0; 
 }

/* End *

	/* Navigationbar */


	.navbar-menu { 
		height: auto;
		z-index: 1;
		transform: translateX(-100%);

	}
	.menu-listing li {
	 display: block; 
	}
	.navbar-menu .menu-listing { 
		text-align: center;
		padding: 0;
	}

	/* End */

	/* Banner Section */

	.banner-info h1 {
	 font-size: 2rem; 
	}

	/* End */
}
@media only screen and (min-width:769px) {

}