

/* Navigationbar */
.nav-logo {
	display: block;
	width: 20%;
	height: 20vh;
	float: left;
	box-sizing: border-box;
	text-align: center;
}

.nav-logo::after {
	content: "";
	clear: both;
}

.nav-logo img {
	width: 100px;
	height: 100px;
	padding-top: 5%;

}
.wrap-nav {
	background: rgba(255,255,255,0.85);
	width: 100%;
	height: auto;
	height: 20vh;
	position: absolute;
	z-index: 2;
}
.navbar-menu {
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    transform: translateX();
    transition: 0.5s;
}
.navbar-menu.active {
	transform: translateX(0);
	transition: 0.5s; 
	background-color: rgb(111, 159, 216, 0.6);
}
.navbar-menu .menu-listing { 
	padding: 0;
	margin: 0;
	text-align: right;
	margin-top: 10vh;
	padding-right: 10%;
}

.menu-listing li { 
	display: inline-block;
	
}

.menu-listing li:hover {
	background: white;
	transition: 0.3s;
}
.menu-listing li a {
	color: black;
	display: block;
	font-size: 24px;
	height: 50px;
	line-height: 50px;
	padding: 0 12px;
	letter-spacing: 1px;
	text-decoration: none;
	transition: 0.5s;
}

/* End */

/*Slider edit*/

.carousel-item {
 background-color: white !important ;
}

h2 img {
	height: 80vh;
	width: 100vw;
}

.carousel-inner {
	height: 80vh;

}


/*Start Visit :)1214 */

.visit {
	background-image: url(../img/backg.png);
	background-size: c ;
	width: 100%;
	height: 110vh;
	padding-top: 24px;

}

.fp-main {
	width: 90%;
	height: 36vh;
	margin: 0 auto;
	z-index: 1110 !important;
	background-image: url(../img/main.png);
	background-size: inherit;
	padding: 5vh 0 ;
}

.wrap-fp-main {
	background-color: white;
	height: 30vh;
	width: 100%;
	padding: 20px;
}

.fp-main p {
	text-align: center;
	width: 100%;
	font-size: 26px;
	color: rgb(52,41,45);
}


.h3-wrap {
	width: 100%;
	text-align: center;
	padding: 20px 0;
}
.visit h3 {
	font-size: 52px;
	color: #70072c;
	margin: 0 auto;
}

.img-wrap {
	width: 100%;
	height: 300px;
	background-image: url(../img/sketch.png);
	background-size: auto;
	background-repeat: round;
}

.wrap-tx {
	padding: 10px;
}

.wrap-tx span {
	color: #8ba462;
	font-size: 42px;
	width: 100%;
	display: block;
}

.wrap-tx i {
	font-size: 28px;
	display: block;
	width: 100%;
	padding: 10px 0 ;
}

.wrap-tx p{
	display: block;
	width: 100%;
	font-size: 18px;
}

.wrap-tx button {
	width: 40%;
	height: 46px;
	margin-top: 10px;
	background-color: white;
	color: #70072c;
	border-radius: 25px;
	font-weight: bolder;
	border: 2px solid #c9c4b8;
}

.wrap-tx button:hover {
	background-color: #70072c;
	color: white;
	

}

/*Tours and Lebel*/

.t-l {
	width: 100%;
	height: 40vh;
	color: white;
	text-align: center;
	font-size: 56px;
}

.t-l-1 {
	width: 100%;
	background-image:url(../img/t-l-1.jpg);
	height: 40vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.t-l-1:hover > .overlay {
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.5;
    display: flex;
	align-items: center;
	justify-content: center;
   

}






.t-l-2 {
	width: 100%;
	background-image: url(../img/t-l-2.jpg);
	display: flex;
	align-items: center;
	justify-content: center;
}

.t-l-2:hover > .overlay {
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.5;
    display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	z-index: 10;
	
}
.t-l-2:hover > i {
	z-index: 20;
}

.t-l-1 i {
 	text-shadow: 0 0 4.5px #000;
}

.t-l-1 i:hover {
	
}


/*product IMG */

.pr-img {
	width: 100%;
	height: 40vh;
}

.pr-img img {
	width: 100vw;
	height: 40vh;
}